.layout {
  display: flex;
}

.leftLayout {
  width: 255px;
  height: 100vh;
  background-color: #001529; // 深蓝色，常见于Ant Design风格
  overflow: hidden;
}

.topLayout {
  width: calc(100vw - 255px);
}

.content {
  padding: 60px;
}
