.layout {
  display: flex;
}

.leftLayout {
  width: 255px;
  height: 100vh;
  background-color: burlywood;
  overflow: hidden;
}

.topLayout {
  width: calc(100vw - 255px);
}
.content{
  padding: 60px;
}
